<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-item">
                    <div class="footer-heading">
                        <h2>À propos de DNShathon</h2>
                    </div>
                    <p>DNShathon propose des services d'hébergement premium. Notre mission est de fournir des solutions d'hébergement de haute qualité pour votre entreprise. Contactez-nous pour des services d'hébergement fiables et efficaces.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class "footer-item">
                    <div class="footer-heading">
                        <h2>Plans d'hébergement</h2>
                    </div>
                    <ul class="footer-list">
                        <li><a href="#">Cloud de base 5X</a></li>
                        <li><a href="#">Cloud VPS 10X</a></li>
                        <li><a href="#">Cloud avancé</a></li>
                        <li><a href="#">Conceptions personnalisées</a></li>
                        <li><a href="#">Solutions spéciales</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-item">
                    <div class="footer-heading">
                        <h2>Liens utiles</h2>
                    </div>
                    <ul class="footer-list">
                        <li><a href="#">Plateforme d'hébergement Cloud</a></li>
                        <li><a href="#">Zone de vitesse lumière</a></li>
                        <li><a href="#">Réseau de diffusion de contenu</a></li>
                        <li><a href="#">Support client</a></li>
                        <li><a href="#">Dernières actualités</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-item">
                    <div class="footer-heading">
                        <h2>Coordonnées</h2>
                    </div>
                    <ul class="footer-list">
                        <li>Téléphone : <a href="tel:907768888">907-768-8888</a></li>
                        <li>Email : <a href="mailto:dnsahakon@gmail.com">dnsahakon@gmail.com</a></li>
                        <li>Support : <a href="mailto:support@dnshathon.com">support@dnshathon.com</a></li>
                        <li>Site Web : <a href="http://www.dnshathon.com">www.dnshathon.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="sub-footer">
                    <p>Droits d'auteur &copy; 2023 DNShathon - Conçu par <a rel="nofollow" href="">Asidev</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>