{% extends 'main/base.html' %}

{% block content %}

  <!-- Heading Starts Here -->
    <div class="page-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Service</h1>
                    <p><a href="">Accueil</a> / <span>Listes de domaines</span></p>
                </div>
            </div>
        </div>
    </div>

<div class="container mt-5 py-5">
    <h2>Rechercher un nouveau domaine :
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom de domain</th>
                <th scope="col">Prix</th>
                <th scope="col">Status</th>
                <th scope="col">Selection</th>
            </tr>
        </thead>
        <tbody>
            <!-- Exemples de données -->

        
            <tr>
                <td>{{nom_domaine}}</td>
                <td> </td>
                <td></td>
                <td><a class="btn btn-primary" href="" > Selectionner</a></td>
            </tr>
        


        </tbody>
    </table>
</div>



{% endblock %}

